@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Poppins&display=swap');

body {
  background-color: #ffa94d;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fff;
  margin: 100px auto;
  padding: 12px;
  width: 600px;
  min-width: 400px;
  min-height: 400px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputBox {
  outline: none;
  border: none;
  margin: 14px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
  height: 28px;
  width: 100%;
  padding: 8px;
  font-size: 1.2em;
}

.addButton {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 14px;
  width: 120px;
  background-color: #51cf66;
  color: #fff;
  font-weight: bold;
  margin-right: 14px;
}
